* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 30%;
  margin: 1.6%;
  background: rgb(242, 248, 207);
  border: 4px dashed black;
}
@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
  }
  .grid-item {
    height: 300px;
    width: 100%;
    background: rgb(243, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
